# should match root/requirements.txt, except for adding these lines for Sphinx
# used by readthedocs.org to build the docs, which involves importing modules for autodoc
Sphinx
sphinxcontrib-napoleon
furo

tensorflow >= 2.3 # Tested on 2.3, 2.4, 2.5. 
tqdm
pillow
numpy
pandas
scipy
scikit-image
scikit-learn
matplotlib
python-dateutil==2.8.1  # for boto3
boto3
statsmodels
keras_applications  # for efficientnet
tensorflow_probability >= 0.11  # 0.11 for tf 2.3, 0.14 for tf 2.4
pyarrow  # to read parquet, which is very handy for big datasets
seaborn  # for nice plots
astropy  # for reading .fits (not yet implemented, but likely to be added)
wandb  # optional, for saving metrics to weights&biases (cloud service, free within limits)