torch
torchvision
torchaudio
pytorch-lightning
albumentations
pyro-ppl
torchmetrics
timm
wandb
h5py
astropy
# below already required by packages above

# tqdm
# pillow
# numpy
# pandas
# scipy
# scikit-image
# scikit-learn
# matplotlib

# not prebuilt, build fails!
# pyarrow

# possibly trouble ahead with these two
# <!-- setuptools==59.5.0 -->
# <!-- timm == 0.6.12 -->
